<%= render partial:"shared/flash"%>
<h1 class="d-flex justify-content-center mt-4">Sabbir's Blog</h1>

<div class="d-flex justify-content-evenly mt-5">
    <% @blogs.each do |blog| %>
        <div class="card" style="width: 18rem;">
            <%= image_tag("demo-mg.jpg", class:"card-img-top") %>
            <div class="card-body">
                <h5 class="card-title"><%= blog.title%></h5>
                <p class="card-text"><%= blog.body %></p>
            </div>
        </div>
    <%end%>
</div>
